@model IEnumerable<ResourceViewModel>

@section Styles {
    <link rel="stylesheet" href="~/css/book-card.css" />
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="container my-5">
    <h2 class="mb-4 text-center">Колекция от книги</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-6 g-4">
        @foreach (var item in Model)
        {
            <partial name="_BookCardPartial" model="item" />
        }
    </div>
</div>
