@model ELibrary.Web.Areas.Admin.Models.ResourceViewModels.ResourceAddViewModel

@{
    ViewData["Title"] = "Добавяне на книга";
}



<div class="container my-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-action="Index" class="text-decoration-none">
                    <i class="fa-solid fa-chevron-left"></i> Книги
                </a>
            </li>
        </ol>
    </nav>

    <h2>Добави нова книга</h2>

    <form asp-action="Add" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        @* @Html.AntiForgeryToken() *@

        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

        <div class="row g-3">

            <div class="col-md-6">
                <label asp-for="Title" class="form-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <label asp-for="Subject" class="form-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <label asp-for="File" class="form-label">Тип ресурс</label>
                <input asp-for="File" class="form-select"></input>
                <small class="text-muted">Напр. Електронна книга, Аудиокнига, Списание…</small>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <label asp-for="Type" class="form-label">Формат</label>
                <select asp-for="Type" class="form-select"
                        asp-items="Html.GetEnumSelectList<ELibrary.Infrastructure.Data.Types.ResourceType>()">
                    <option value="">— Избери —</option>
                </select>
                <small class="text-muted">PDF, EPUB, MOBI, MP3 и т.н.</small>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <div class="col-md-12">
                <label asp-for="Description" class="form-label">Описание</label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

        </div>

        <div class="mt-4 d-flex gap-2">
            <button type="submit" class="btn btn-primary">Запази</button>
            <a asp-action="Index" class="btn btn-outline-secondary">Отказ</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_FontawesomePartial" />
}
