@model IEnumerable<ELibrary.Web.Models.ResourceViewModel>

@section Styles {
    <link rel="stylesheet" href="~/css/book-card.css" />
}

@{
    ViewData["Title"] = "Книги";
}

<div class="container my-5">
    <h2>Книги</h2>
    <div class="my-2">
        <a asp-action="Add" type="button" class="btn btn-primary">Добави книга</a>
    </div>
    <div class="row g-4">
        @if(Model is not null)
        {
            foreach (var item in Model)
            {
                <partial name="_BookCardPartial" model="item" />
            }
        }
    </div>
</div>


